<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Oluttietoa</li>
          <li><%= link_to "Oluttietoa", oluttietoa_path %></li>
          <li><%= link_to "Oluen valmistus", oluen_valmistus_path %></li>
          <li><%= link_to "Olutlasit", olutlasit_path %></li>
          <li class="nav-header">Oluttyypit</li>
          <li class="active"><%= link_to "Ale", ale_path %></li>
          <li><%= link_to "Erikoisolut", erikoisolut_path %></li>
          <li><%= link_to "Lager", lager_path %></li>
          <li><%= link_to "Tumma Lager", tumma_lager_path %></li>
          <li><%= link_to "Vahva Lager", vahva_lager_path %></li>
          <li><%= link_to "Pils", pils_path %></li>
          <li><%= link_to "Stout ja Porter", stout_ja_porter_path %></li>
          <li><%= link_to "Vehnäolut", vehnaolut_path %></li>
      </ul>
  </div>
  <div class="span9">
    <h1>Ale</h1>
    <%=image_tag(src="/assets/ale.jpg", id: "olutkuva")%>

    <p>Alessa panimotuotteen valmistamiseen käytettävä hiiva nousee käymisastian pinnalle, mistä suomenkielinen nimitys pintahiivaolut juontaa juurensa. Tyypillisiä ominaisuuksia aleille ovat täyteläisyys sekä hiivan mukanaan tuoma hedelmäisyys. Maku- ja väriskaala on äärimmäisen monipuolinen vaihdellen kuivasta makeaan ja kellertävästä punaisen kautta mustaan. Humalan katkeroita voi olla parhaimmillaan todella runsaasti. Real aleksi kutsutaan peribrittiläistä, yleensä kuparinpunaista ja huomattavan mietoa aletyyppiä, jonka käymisprosessi jatkuu vielä panimon ulkopuolella ja joka pumpataan hanaan lihasvoimin hiilihappopatruunaa käyttämättä.</p>

<p>Alen alatyyppejä ovat esimerkiksi</p>
<ul>
  <li>Pale ale</li>
<li>Brown ale</li>
<li>Strong ale</li>
<li>Luostariolut</li></ul>

<p>(Akateemisen Olutseuran Olutopasta, http://blogs.helsinki.fi/olutseura/olutopas, mukaillen)</p>

    </div>
</div>



