<script type="text/javascript">
function toggleOverlay(){
  var overlay = document.getElementById('overlay');
  var specialBox = document.getElementById('specialBox');
  overlay.style.opacity = .5;
  if(overlay.style.display == "block"){
    overlay.style.display = "none";
    specialBox.style.display = "none";
  } else {
    overlay.style.display = "block";
    specialBox.style.display = "block";
  }
}
</script>


<!-- Start Overlay -->
<div id="overlay"></div>
<!-- End Overlay -->
<!-- Start Special Centered Box -->
<div id="specialBox">
  <button id="closeButton" onmousedown="toggleOverlay()">X</button>
  <h3>Käyttöehdot</h3>
  <p>
    Käyttäessään Olutkaappia käyttäjät sitoutuvat noudattamaan sivuston käyttösääntöjä.<br> <br>

Olutkaappi ei vastaa sivuilla olevan tiedon oikeellisuudesta. Esimerkiksi oluiden tiedot haetaan ulkopuolisista palveluista, jotka vastaavat kyseisistä tiedoista. Oikeudet palvelun sisältöön ovat Olutkaapilla ja sisällön kopiointi muuhun kuin yksityiseen käyttöön on kiellettyä.<br><br>

Sivuilla olevien kuvien kopiointi on kiellettyä. <br><br>

Käyttäjä on vastuussa toiminnastaan Olutkaapissa ja sivustolle lähettämästään materiaalista. Olutkaappi ei tarkasta sivustolle lähetettyjä kommentteja etukäteen, mutta poistaa näitä sääntöjä tai hyviä tapoja rikkovia tietoja sen jälkeen, kun rikkomus on tullut sivuston ylläpitäjän tietoon.  Kirjoittaessaan kommentteja Olutkaappiin käyttäjä luovuttaa Olutkaapille oikeuden kommenttien hyödyntämiseen palvelussa. Olutkaappi ei vastaa arvostelujen tai keskustelujen sisällöstä.<br><br>

Käyttäjällä on mahdollisuus rekisteröityä palveluun omalla nimellään ja julkaista profiilissaan tietoja itsestään. Käyttäjä on vastuussa tiedoista, jotka hän palvelussa julkaisee. 
  </p>
  <button onmousedown="toggleOverlay()">Sulje ikkuna</button>

</div>

<div class="container-fluid">

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span6">
        <h3>Olutkaappi - Mikä se on?</h3>
        <p>
          Olutkaappi on suomenkielinen olutpalvelu suomalaisille. Palvelu tarjoaa kuvauksia ja arvosteluja oluista sekä yleistä oluttietoutta, ja sitä käyttämään ovat tervetulleita kaikki oluen ystävä <br><br>

Rekisteröityneet käyttäjät saavat juomatottumuksiensa perusteella olutsuosituksia sekä mahdollisuuden seurata juomiaan oluita. He voivat myös jakaa olutkokemuksiaan sosiaalisessa mediassa. Kaikki tämä kätevästi Olutkaapissa! Kippis!
        </p>
      </div>
      <!--/span-->

      <div class="span6">
        <h3>Rekisteröityminen</h3>
        <p>
          Rekisteröityminen on nopeaa ja ilmaista! Rekisteröityneenä käyttäjänä voit muun muassa seurata juomiasi oluita ja saada suosituksia oluista, joita sinun kannattaisi kokeilla.
        </p>

        <%= form_for @user do |f| %>
          <fieldset>
            <%= f.label :Käyttäjänimi %>
            <%= f.text_field :username, placeholder: "KalleJuoKaljaa69" %>
            <%= f.label :Sähköpostiosoite %>
            <%= f.text_field :email, placeholder: "käyttäjä@posti.fi" %>
            <%= f.label :Salasana %>
            <%= f.text_field :password, placeholder:"*********"%>
            <br>
            <input type="checkbox">
            Hyväksyn
            <a onmousedown="toggleOverlay()">käyttöehdot</a>
            <br>
            <br>
            <%= submit_tag "Rekisteröidy", class:"btn" %>
          </fieldset>
        <% end %>
      </div>

      <div class="row-fluid">

        <div class="span6">
          <h3>Top 10 bisset</h3>
          <p>
            Olutkaapin käyttäjät ovat äänestäneet parhaiksi oluiksi:
          </p>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Nimi</th>
                <th>Arvostelu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lapin Kulta</td>
                <td>5.00</td>
              </tr>
              <tr>
                <td>Grafenwalder</td>
                <td>3.75</td>
              </tr>
              <tr>
                <td>Koff</td>
                <td>3.74</td>
              </tr>
              <tr>
                <td>Not just another wit</td>
                <td>3.72</td>
              </tr>
              <tr>
                <td>Karjala</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="span6">
          <h3>Top 10 -elämänviisaudet</h3>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Nimi</th>
                <th>Arvostelu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ei tippa tapa.</td>
                <td>5.00</td>
              </tr>
              <tr>
                <td>Omena ei putoa kauas puusta.</td>
                <td>3.75</td>
              </tr>
              <tr>
                <td>Hurraa, Wappu tulee!</td>
                <td>3.74</td>
              </tr>
              <tr>
                <td>Kaksi päivää perjantaibibiksiin.</td>
                <td>3.72</td>
              </tr>
              <tr>
                <td>Sä olit tosi timmi tiimimimmi!</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>