<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Oluttietoa</li>
          <li><%= link_to "Oluttietoa", oluttietoa_path %></li>
          <li class="active"><%= link_to "Oluen valmistus", oluen_valmistus_path %></li>
          <li><%= link_to "Olutlasit", olutlasit_path %></li>
          <li class="nav-header">Oluttyypit</li>
          <li><%= link_to "Ale", ale_path %></li>
          <li><%= link_to "Erikoisolut", erikoisolut_path %></li>
          <li><%= link_to "Lager", lager_path %></li>
          <li><%= link_to "Tumma Lager", tumma_lager_path %></li>
          <li><%= link_to "Vahva Lager", vahva_lager_path %></li>
          <li><%= link_to "Pils", pils_path %></li>
          <li><%= link_to "Stout ja Porter", stout_ja_porter_path %></li>
          <li><%= link_to "Vehnäolut", vehnaolut_path %></li>
      </ul>
  </div>
  <div class="span9">
    <h1>Oluen valmistus</h1>
    <%=image_tag(src="/assets/oluen_valmistus.jpg", id: "olutkuva")%>
    <p>Oluen, tässä tapauksessa pintahiivaoluen, valmistus on moniosainen prosessi, joka tiivistettynä tapahtuu seuraavalla tavalla: Ohra mallastetaan idättämällä sitä vedessä, jolloin tärkkelys muuttuu käymiskelpoisiksi sokereiksi. Tämän jälkeen mallas rouhitaan ja paahdetaan - mitä voimakkaammin sitä tummempaa olutta saadaan. Seuraavaksi mallas keitetään mäskiksi, jossa maltaan aineet ovat saaneet liuenneen muodon, ja siivilöidään vierteeksi. Vierre keitetään humalien kanssa ja jäähdytetään nopeasti suunnilleen huoneenlämpöiseksi. Humala tuo olueen tuoksua ja katkeruutta, mitä enemmän sitä enemmän. Jäähtynyt olut laitetaan tiiviiseen astiaan käymään, jolloin siihen lisätään vielä jonkin verran hiivaa käymisprosessin aikaansaamiseksi. Parin viikon jälkeen olut laitetaan vielä joko pulloon tai tynnyriin käymään, jolloin olueen alkaa muun muassa muodostua hiilidioksidia. Toinen käyminen voi kestää parista viikosta useisiin kuukausiin, jopa vuosiin. <br><br>

Nykyisin oluenvalmistuksessa voidaan ohran ja vehnän lisäksi käyttää esimerkiksi ruista, maissia ja riisiä. Olutta on saatavilla monen värisenä, makuisena ja vahvuisena. Variaatioiden loputon määrä on aiheuttanut lähes yhtä suuren määrän erilaisia olutlajeja, jotka voidaan valmistusmenetelmän mukaan jakaa kolmeen yläkategoriaan: pintahiivaoluisiin eli aleihin, pohjahiivaoluisiin eli lagereihin sekä spontaanikäymisellä valmistuvaan lambiciin.</p>

<p>(Akateemisen Olutseuran Olutopas, http://blogs.helsinki.fi/olutseura/olutopas)</p>
    </div>
</div>



