<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Oluttietoa</li>
          <li><%= link_to "Oluttietoa", oluttietoa_path %></li>
          <li><%= link_to "Oluen valmistus", oluen_valmistus_path %></li>
          <li class="active"><%= link_to "Olutlasit", olutlasit_path %></li>
          <li class="nav-header">Oluttyypit</li>
          <li><%= link_to "Ale", ale_path %></li>
          <li><%= link_to "Erikoisolut", erikoisolut_path %></li>
          <li><%= link_to "Lager", lager_path %></li>
          <li><%= link_to "Tumma Lager", tumma_lager_path %></li>
          <li><%= link_to "Vahva Lager", vahva_lager_path %></li>
          <li><%= link_to "Pils", pils_path %></li>
          <li><%= link_to "Stout ja Porter", stout_ja_porter_path %></li>
          <li><%= link_to "Vehnäolut", vehnaolut_path %></li>
      </ul>
  </div>
  <div class="span9">
    <h1>Olutlasit</h1>

    <p><b>Olutlasi</b> on yleisnimitys lasisille juoma-astioille, joista juodaan olutta. Eri oluttyyppien juomiseen on erityyppisiä laseja, joita käyttämällä pyritään saamaan kunkin tyypin oluen aromit ja ulkonäkö parhaalla mahdollisella tavalla esille. Olutlasia käytetään myös olutmerkkien mainostamiseen ja monille olutmerkeille onkin syntynyt omia klassisia olutlasejaan, kuten belgialaisen Kwakin puisella jalustalla oleva lasi. Olutravintoloissa pyritään tarjoilemaan eri oluet joko niiden omista nimikkolaseista tai tyypille tarkoitetusta lasista. Erilaisia nimikkolaseja onkin tuhansia. <br><br>
    Lasivalinnalla voidaan vaikuttaa huomattavasti makukokemukseen. Esimerkiksi Tšekissä on varsin yleistä tarjoilla Pilsneriä kolpakosta helpon juotavuuden ja seurustelujuomaominaisuuksien korostamiseksi, kun taas Saksassa Pilsner tarjoillaan tyypillisesti jalallisesta hieman kuohuviiniä muistuttavasta lasista, joka puolestaan korostaa saksalaistyylisen Pilsnerin humalointia ja virkistävyyttä.</p>

    <h3>Erilaisia olutlaseja</h3>

    <b>Pint, tuoppi, lager-lasi</b>

    <p>Tavallisin yleislasi kansainvälisten lager-tyyppisten ja muiden "perusoluiden" juomiseen on vetoisuudeltaan 25, 33 tai 50 senttilitran tavallisesti yläosastaan hieman pohjaa leveämpi lasi. Suomen puhekielessä sitä kutsutaan usein nimellä "tuoppi". Suomessa erityisesti aikaisemmin puolen litran vetoinen oluentarjoiluastia oli tuopin muotoinen lasiastia, mutta myöhemmin juomalasia muistuttavat yläosastaan juomalasia leveämmät ja puolen litran vetoiset olutlasit yleistyivät. Näin ollen tuoppi ei tarkoita tuopillista olutta, vaan puolta litraa olutta hanasta vaihtoehdon ollessa 1/3-litran pullollinen. Joissain ravintoloissa tuopillinen on alkanut tarkoittaa hanaolutta olutlasista tarjoiltuna, jonka vetoisuus on enää vain 0,4 litraa. <br><br>
    Brittiläinen hieman ämpärin muotoinen versio on vetoisuudeltaan yhden pintin suuruinen eli 568 millilitraa. Pint-lasia käytetään myös brittiläisten ale-tyypin oluiden kuten bittereiden, porttereiden ja stoutien juomiseen. Amerikkalaistyylistä lasia, joka levenee tasaisesti kohti yläosaa, kutsutaan nimellä shaker pint, jonka yleisin koko on 16 oz (unssi) eli 448 ml. Virallisesti amerikkalaisen pintin koko on 473 millilitraa. Saksalaistyylisissä Pilsner-laseissa on lyhyt jalka ja korkea kapea pääosa, hieman kuohuviinilasin tapaan.
    <p> <br>

    <b>Vehnäolutlasi</b>

    <p>Vehnäolutlasia käytetään saksalaistyyppisen vehnäoluen juomiseen. Se on pohjastaan kapeahko, keskiosaa kohden vielä hieman kapeneva ja sen jälkeen suuaukkoa kohden laajeneva 50 senttilitran vetoinen lasi. Muoto tuottaa vehnäoluelle tyypillisen suuren vaahtokukan. Belgialaista witbieriä juodaan useimmiten pienemmästä, tavallista juomalasia muistuttavasta lasista (tumbler, kooltaan yleensä 25 tai 33 senttilitraa).</p> <br>

    <b>Kolpakko</b>

    <p>Kolpakko on perinteinen kahvalla ja usein kannella varustettu astia oluen juontiin. Niitä on valmistettu muun muassa savesta, hopeasta, posliinista, puusta ja tinasta. Nykypäivänä käytetään kahvallisia paksuja lasista tehtyjä kolpakoita. Kahvallinen on myös olutkannu (pitcher), jota käytetään isomman olutmäärän tarjoilemiseen kerralla esimerkiksi koko pöytäseurueelle. Litran vetoiset lasiset Maß-tuopit (usein myös Maßkrug, suom. mittatuoppi) ovat varsin yleisiä Baijerissa sekä vähemmissä määrin myös muussa Saksassa ja Itävallassa.</p> <br>

    <b>Konjakkilasi</b> 

    <p>Konjakille tarkoitettua lasia käytetään usein vahvojen ja aromikkaiden oluttyyppien kuten Barley Wine, Eisbock ja Imperial Stout juomiseen. Lasi on jalallinen, pohjasta sipulinmuotoinen kaventuen suuaukkoa kohden.</p> <br>

    <b>Kuohuviinilasi</b> 

    <p>Kuohuviinille tarkoitettu lasi on tavallisesti jalallinen, kapea ja aavistuksen suuaukkoa kohden kaventuva pitkä lasi. Sitä käytetään lambicien ja hedelmäolueiden nauttimiseen, koska näiden oluiden hiilihappoisuus on usein samankaltainen kuin kuohuviinien.</p> <br>

    <b>Pikari</b> 

    <p>Pikari- tai maljatyyppisiä laseja (goblet) käytetään erityisesti belgityyppisten luostarioluiden juomiseen. Siitä voidaan joskus käyttää nimitystä "trappistilasi". Lasi on suustaan laaja ja avoin ja se on jalallinen. Laaja suuosa päästää oluen aromit kunnolla esiin.</p> <br>

    <b>Tulppaanilasi</b> 

    <p>Eniten varioitu olutlasi on tulppaaninmuotoinen jalallinen pohjasta leveämpi ja keskeltä hieman suuaukkoa kapeampi lasimalli. Lasia käytetään erityisesti blond- ja tripel-tyypin belgioluiden kanssa, mutta myös monien muunlaisten oluiden kanssa. Kuuluisin tulppaanilasi on Duvel-oluen nimikkolasi.</p> <br>

    <h3>Muita lasityyppejä</h3> 

   <ul> 
      <li> Kwak-lasi – tämä pohjaltaan sipulimaisen pyöreä lasi on puisessa telineessä. Pohjaosasta lähtee suuaukkoa kohden levenevä kaulaosa, joka perinteisessä muodossa oli jaardin mittainen. Tästä on tullut lasin englanninkielinen nimi yard of ale - "jaardi olutta".</li>

      <li> Stange - 20 senttilitran kokoinen sylinterimallinen Kölsch-lasi. Altbier-lasit ovat samantapaisia, mutta usein hiukan lyhyempiä ja leveämpiä ja kooltaan 25 cl. </li>

      <li> Malja – käytetään erityisesti Berliner Weisse -vehnäoluen kanssa. Malja on jalaton matala lasi. </li>

      <li> Saapas – erityisesti Saksassa käytetään myös saappaanmuotoisia laseja. </li>
    </ul>

    <h3>Oluen kaataminen lasiin</h3> 

    <p>Eri oluttyypit kaadetaan lasiin hieman eri tavalla. Kaatamistekniikka vaikuttaa muun muassa vaahdon muodostumiseen. Tavallisesti oluesta kaadetaan puolet tai kaksi kolmasosaa lasia kallistaen sen reunaa pitkin ja loput suoraan lasiin. Joissakin oluttyypeissä (kuten sahti) vaahtoamista ei juuri tapahdu. Lasin puhtaudella on merkitystä vaahdonmuodostuksessa, samaten lasin kasteleminen veteen juuri ennen kaatamista edesauttaa halutun vaahtokukan saamista. Vaahtokukka suojelee oluen aromeja ja koristaa juomaa.</p>

    <p>(olutopas.info, http://olutopas.info/)</p>
    </div>
</div>



