<script language="javascript">
function ChangeTitle() {
  document.title = "Olutkaappi, <%= @beer.name %>";
}

ChangeTitle();
</script>

<p>

  <section id="kuva">
    <% if @beer.image != nil %>
  	  <img src="<%=@beer.image%>" alt="<%=@beer.image%>"/> 
    <% else %>
      <img src="images/bottle.jpg" alt="placeholder image"/>
    <% end %>
  </section>

  <section id="nimi">
  	<h2> <%=@beer.name%> </h2>
  </section>

  <section id="alc">
  	<h3> <%=@beer.alc%> </h3>
  </section>

  <seciton id="tyyppi">
  	<h3> <%=@beer.beer_type%> </h3>
  </section>

  <section id="panimo">
  	<h3> <%=@beer.brewery%> </h3>
  </section>

  <section id="maa">
  	<h3> <%=@beer.country%> </h3>
  </section>

</p>