<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list">
          <li class="nav-header">Oluttietoa</li>
          <li class="active"><%= link_to "Oluttietoa", oluttietoa_path %></li>
          <li><%= link_to "Oluen valmistus", oluen_valmistus_path %></li>
          <li><%= link_to "Olutlasit", olutlasit_path %></li>
          <li class="nav-header">Oluttyypit</li>
          <li><%= link_to "Ale", ale_path %></li>
          <li><%= link_to "Erikoisolut", erikoisolut_path %></li>
          <li><%= link_to "Lager", lager_path %></li>
          <li><%= link_to "Tumma Lager", tumma_lager_path %></li>
          <li><%= link_to "Vahva Lager", vahva_lager_path %></li>
          <li><%= link_to "Pils", pils_path %></li>
          <li><%= link_to "Stout ja Porter", stout_ja_porter_path %></li>
          <li><%= link_to "Vehnäolut", vehnaolut_path %></li>
      </ul>
  </div>
  <div class="span9">
    <h1>Oluttietoa</h1>
    <p>Oluttietoa-osio tutustuttaa sinut oluiden mielenkiintoiseen maailmaan. Tarjolla on tietoa niin oluen valmistuksesta ja olutlaseista kuin erilaisista oluttyypeistäkin.</p>

<h3>Mitä olut on?</h3>

<p>Reinheitsgebot, baijerilainen oluen puhtauslaki vuodelta 1516, määrittelee oluen alkoholijuomaksi, jonka raaka-aineita ovat vesi, ohramallas ja humala. Laki kumottiin Saksan liittotasavallassa jo 1987, mutta lukemattomat panimot noudattavat sitä edelleen. Toki olutta valmistettiin 1500-luvullakin myös vehnästä, mutta hallitsevat tahot halusivat varata tämän lajikkeen valmistuksen ja siitä saatavat tuotot itselleen ja kielsivät muilta venhäoluen panemisen muutamia poikkeuksia lukuunottamatta. Olut kävi toki ennenkin hiivan voimalla. Käymisprosessia ei vain vielä tunnettu kovin hyvin. Olut sai hiivan panimon nurkissa viihtyvästä villihiivasta - tätä menetelmää muutamat panimot käyttävät vieläkin. Suurin osa panimoista turvautuu nykyään tarkan teollisesti viljeltyyn panimohiivaan, joka antaa varmemman, mutta yllätyksettömän lopputuloksen oluen makuun.</p>

<p>(Akateemisen Olutseuran Olutopas, http://blogs.helsinki.fi/olutseura/olutopas)</pZ
    </div>
</div>



