<script language="javascript">
function ChangeTitle() {
  document.title = "Olutkaappi, <%= @beer.name %>";
}

ChangeTitle();
</script>


<div class="row-fluid">
  <div class="span3">
      <h1> <%=@beer.name%> </h2>
  </div>
  <div class="span3">
    <p id="stars">
      <% stars_sum = Review.sum(:stars, :conditions => ['beer_id = ?', @beer.id]) 
        if stars_sum > 0 
          stars_avg = (stars_sum / Review.count(:conditions => ['stars <> "" AND beer_id = ?', @beer.id]).to_f)
          while stars_avg >= 1%>
            &#9733;
          <%
            stars_avg = stars_avg - 1; 
          end
          if stars_avg >= 0.5 %>
            &#9734;
          <% end %>

      <% else %>
        Ei vielä arvosteltu
      <% end %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <% if @beer.image != nil %>
      <img src="<%=@beer.image%>" alt="<%=@beer.image%>"/>
    <% else %>
      <img src="/images/bottle.jpg">
    <% end %>
  </div>
  <div class="span5">
    <p>
      <b>Panimo:</b> <br>
      <%=@beer.brewery%> <br>
    </p>

    <p>
      <b>Alkoholi:</b> <br>
      <%=@beer.alc%> <br>
    </p>

    <p>
      <b>Oluttyyppi:</b> <br>
      <%=@beer.beer_type%> <br>
    </p>

    <p>
      <b>Valmistusmaa:</b> <br>
      <%=@beer.country%> 
    </p>
  </div>
</div>

<div class="kommentointiosio">
  <%= form_for @review do |f|%>
    <%= f.label :Otsikko %>
    <%= f.text_field :title, id:'title' %>
    <%= f.label :Tähdet %>
    <%= f.text_field :stars, id:'stars' %>
    <%= f.label :Arvio %>
    <%= f.text_area :review_text, id:'review_text' %>

    <%= hidden_field_tag "beer_id", @beer.id %>

    <%= submit_tag "Lähetä arvio", id:"lisaa" %>
  <% end %>
</div>

<div class="row-fluid">
  <table class="table table-bordered">
  <tbody>
    <% for review in @reviews %>
      <tr>
        <td>
          <%= User.find(review.user_id).username %> <br>
          <%= review.created_at.strftime("%d.%m.%Y") %> <br>
          Tähtiä: <%= review.stars %>
        </td>
        <td>
          <b><%= review.title %></b><br>
          <%= review.review_text %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

</div>
