<script language="javascript">
function ChangeTitle() {
  document.title = "Olutkaappi, <%= @beer.name %>";
}

ChangeTitle();
</script>


<div class="row-fluid">
  <div class="span3">
      <h1> <%=@beer.name%> </h2>
  </div>
  <div class="span3">
    <p>Tähän tulee tähtiä.</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <% if @beer.image != nil %>
      <img src="<%=@beer.image%>" alt="<%=@beer.image%>"/>
    <% else %>
      <img src="/images/bottle.jpg">
    <% end %>
  </div>
  <div class="span5">
    <h4> <%=@beer.brewery%> </h3>
    <h4> <%=@beer.alc%> </h3>
    <h4> <%=@beer.beer_type%> </h3>
    <h4> <%=@beer.country%> </h3>
  </div>
</div>

<div class="row-fluid">
  <table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        Toskovt1 <br>
        19.4.2013 <br>
        4/5
      </td>
      <td>Olut oli ihan hyvää. Olen myös juonut parempiakin oluitakin. Ehkä oli liian lämmin. Hyvä vaahto.</td>
    </tr>
  </tbody>
</table>

</div>
