<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>

<div class="container-fluid">

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="span3">
        <%= image_tag(session[:current_user].gravatar_url, title: "K채ytt채j채kuvat haetaan Gravatarista: https://fi.gravatar.com/") %>
      </div>

        <div class="span6">
          <h3>
           <%=session[:current_user].username %></h3>
         <h5>
           <%=session[:current_user].email %></h5>
        </div>
      </div>
    <div class="row-fluid">

      <div class="span6">
        <h3>Arvostellut oluet</h3>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Olut</th>
              <th>T채hdet</th>
              <th>Otsikko</th>
            </tr>
          </thead>
          <tbody>
            <% for review in @reviews %>
            <% beer = Beer.find(review.beer_id) %>
            <tr>
              <td>
                <a href="olutsivu/<%=beer.name%>"><%= beer.name %></a></td>
              <td>
                <%= review.stars %></td>
              <td>
                <%= review.title %></td>
            </tr>
            <% end %></tbody>
        </table>
      </div>

      <div class="span6">
        <h3>Juodut oluet</h3>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Olut</th>
              <th>Juontikerrat</th>
            </tr>
          </thead>
          <tbody>
            <% for relation in @relations %>
            <% beer = Beer.find(relation.beer_id) %>
            <tr>
              <td>
                <a href="olutsivu/<%=beer.name%>"><%= beer.name %></a></td>
              <td>
                <%= relation.number_of_drinks %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>