<script>
  $(document).ready(function(){
     $('#mytable').tablesorter(); // Basic instance of tablesorter.
  });
  </script>

<h1>Haku</h1>
<div class="row-fluid">
    <div class="span6">

        <%= render 'searchfield' %>
        
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <table  class="tablesorter" id="mytable"> <!-- class="table table-condensed table-striped"-->
                    <thead>
                        <tr>
                            <th>Nimi</th>
                            <th>Alkoholi</th>
                            <th>Tyyppi</th>
                            <th>Panimo</th>
                            <th>Valmistusmaa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                        if @results = nil
                            @results = Beer.all
                        end
                        %>

                        <% @results.each do |result| %>
                        <tr>
                            <td><a href="olutsivu/<%=result.name%>"><%= result.name%></a></td>
                            <td><%= result.alc%></td>
                            <td><%= result.beer_type%></td>
                            <td><%= result.brewery%></td>
                            <td><%= result.country%></td>
                        </tr>
                        <% end %>                        
                    </tbody>
                </table>
    </div>
</div>
