<h1>Oluita</h1>

<%= render 'form' %>

<ul>
	<% for beer in @beers %>
	<li id="beer_<%= beer.id%>">
		<%= beer.name  %> (<%= beer.beer_type %>, <%= beer.alc %>), panimo: <%= beer.brewery %>, valmistusmaa: <%= beer.country %>
		| <%= link_to 'Muokkaa', edit_beer_path(beer) %>
		| <%= link_to 'Poista', beer, :method => 'delete' %>
	</li>
	<%end%>
</ul>