<h1>Oluita</h1>

<%= render 'form' %>

<ul>
	<% for beer in @beers %>
	<li id="beer_<%= beer.id%>">
		<a href="olutsivu?id=<%=beer.id%>"><%= beer.name  %></a> (<%= beer.beer_type %>, <%= beer.alc %>), panimo: <%= beer.brewery %>, valmistusmaa: <%= beer.country %>
		| <%= link_to 'Muokkaa', edit_beer_path(beer) %>
		| <%= button_to 'Poista', beer_path(beer), :method => :delete, :confirm => "Are you sure ?" %>
	</li>
	<%end%>
</ul>