<h1>Oluita</h1>

<%= render 'form' %>

<ul>
	<% for beer in @beers %>
	<li id="beer_<%= beer.id%>">
		<a href="olutsivu/<%=beer.name%>"><%= beer.name  %></a> (<%= beer.beer_type %>, <%= beer.alc %>), panimo: <%= beer.brewery %>, valmistusmaa: <%= beer.country %>
		| <%= link_to 'Muokkaa', edit_beer_path(beer) %>
		| <%= link_to 'Poista', beer, :method => 'delete' %>
	</li>
	<%end%>
</ul>

<ul>
	<% for user in @users %>
	<li id="user_<%= user.id%>">
		<%= user.username  %> (<%= user.password %>) <%= user.email %>
	</li>
	<%end%>
</ul>

<ul>
	<% for review in @reviews %>
	<li id="review_<%= review.id%>">
		<%= review.title  %> (<%= review.stars %>) <%= review.review_text %>
	</li>
	<%end%>
</ul>