<script>
  $(function() {
    var name = $( "#name" ),
      password = $( "#password" ),
      allFields = $( [] ).add( name ).add( password );
 
    $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: "auto",
      width: "auto",
      modal: false,
      position: {
        my: 'center top', at: 'center bottom', of: '#create-user'
      },
      buttons: {
        "Kirjaudu sisään": function() {
          window.location.href = "/kirjaudu?username="+name.val()+"&password="+password.val();
          allFields.removeClass( "ui-state-error" );
          $.get("/kirjaudu?username=" + name + "&password=" + password, null,null,null);
        },
      },
      close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
      }
    });
 
    $( "#create-user" )
      .click(function() {
        $( "#dialog-form" ).dialog( "open" );
      });
  });
</script>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <%= link_to image_tag(src="../images/logo.png", :border => 0, class: "brand", id: "logo"), '/' %>
      <%= link_to "olutkaappi", '/', class: "brand", id: "brand" %>



      <!-- Everything in here gets hidden at 940px or less -->
      <div class="nav-collapse collapse">
        <nav>
          <ul class="nav pull-right">
            <li>
              <%= render 'static_pages/searchfield' %></li>
            <li>
              <%= link_to "Tarkennettu haku",    search_path %></li>
            <li>
              <%= link_to "Oluttietoa", oluttietoa_path %></li>

            <% if !session[:current_user] %>
            <li>
              <a id="create-user" href="#">Kirjaudu sisään</a>
            </li>
            <% else %>
            <li>
              <%= link_to "Oma Sivu", omasivu_path %></li>
            <li>
              <%= link_to "Kirjaudu ulos", uloskirjaus_path %></li>
            <% end %></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div id="dialog-form">
  <form>
  <fieldset>
    <label for="name">Käyttäjänimi</label>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    <label for="password">Salasana</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
  </fieldset>
  </form>
</div>