<!DOCTYPE html>
<html>
<head>
  <title>Olutkaappi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 <!-- <%= javascript_include_tag "application" %> -->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'rails.js' %>
  <%= render 'layouts/shim' %> 
</head>
<body>

	<% flash.each do |name, message| %>
		<div id="Flash_<%= name %>">
			<%= message %>
		</div>
	<% end %>

    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>
