<!DOCTYPE html>
<html>
<head>
  <title>Olutkaappi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap jQuery Plugins, compiled and minified -->
<script src="/assets/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/assets/jquery.tablesorter.min.js"></script>

<!-- Styles -->
<link href="/assets/bootstrap.css" rel="stylesheet">
<style>
    body { padding-top: 100px; }
    @media screen and (max-width: 979px) {
    body { padding-top: 0px; }
}
</style>
<link href="/assets/bootstrap-responsive.css" rel="stylesheet">
<link href="/assets/tablesorter.css" rel="stylesheet">

</head>
<body>

	<% flash.each do |name, message| %>
		<div id="Flash_<%= name %>">
			<%= message %>
		</div>
	<% end %>


    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
