<!DOCTYPE html>
<html>
<head>
  <title>Olutkaappi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> 
</head>
<body>

	<% flash.each do |name, message| %>
		<div id="Flash_<%= name %>">
			<%= message %>
		</div>
	<% end %>

    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
    </div>

    <!-- <%= render 'layouts/footer' %> -->
</body>
</html>
